/* Базовые стили хлебных крошек */
.breadcrumbs {
  margin: 66px 0 55px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1.4;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: ">";
  color: #929292;
  margin-left: 8px;
}

.breadcrumbs__link {
  color: var(--grey);
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumbs__link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.breadcrumbs__current {
  color: #929292;
 
}

/* Адаптив для мобильных */
@media (max-width: 375px) {
  .breadcrumbs {
    margin: 15px 0;
  }

  .breadcrumbs__list {
    font-size: 12px;
    gap: 6px;
  }

  .breadcrumbs__item:not(:last-child)::after {
    margin-left: 6px;
  }
}

/* Десктоп версия */
@media (min-width: 1440px) {
  .breadcrumbs {
    margin: 30px 0;
  }

  .breadcrumbs__list {
    font-size: 16px;
  }
}
