.footer__section {
  background: #121212;
  padding: 50px 0 25px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__nav-list {
  max-width: 152px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
}

.footer__nav-item {
  opacity: 0.7;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: all 0.3s ease;
  position: relative; 
  display: inline-block;
}

.footer__nav-item:hover {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__social {
  display: flex;
  gap: 35px;
}

.footer__contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  font-size: 20px;
}

.footer__contact-info__tel,
.footer__contact-info__mail {
  display: flex;
  align-items: center;
  gap: 10px;
}

a.footer__contact-info_link {
  font-size: 16px;
  text-decoration: underline;
}

.footer__bottom {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 13px;
  color: var(--white);
}

.footer__bottom-policy {
  display: flex;
  gap: 30px;
  font-size: 10px;
  opacity: 0.6;
}

/* Аккордеон стили */
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0;
  font-weight: bold;
}

.accordion-icon {
  font-size: 14px;
  transition: transform 0.3s ease;
  display: none;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 375px) {
  .footer__inner {
    flex-direction: column;
    gap: 30px;
  }

  .footer__nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .footer__nav-list {
    max-width: 100%;
  }

  .accordion-icon {
    display: block;
  }

  /* Аккордеон функционал */
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .accordion-content.active {
    max-height: 500px;
  }

  .accordion-header.active .accordion-icon {
    transform: rotate(180deg);
  }

  .accordion-content {
    gap: 10px;
  }

  .footer__contact {
    display: none;
  }

  .footer__contact-info {
    font-size: 16px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .footer__bottom-policy {
    font-size: 10px;
    gap: 10px;
  }
}
