:root {
  --grey: #304352;
  --white: #fff;

  --font-family: "Arial", sans-serif;
  --second-family: "AA Bebas Neue", sans-serif;
  --third-family: "Futura PT", sans-serif;
  --font3: "Inter", sans-serif;
}

/* :hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
} */
