@import url(css/reset.css);
@import url(css/basic.css);
@import url(css/variables.css);
@import url(css/header.css);
@import url(css/breadcrumbs.css);
@import url(css/blog.css);
@import url(css/news.css);
@import url(css/footer.css);




